<p id="notice"><%= notice %></p>

<p>
  <strong>Horse:</strong>
  <%= @registration.horse %>
</p>

<p>
  <strong>Rider:</strong>
  <%= @registration.rider %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
