<%= form_with(model: show_class, local: true) do |form| %>
  <% if show_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show_class.errors.count, "error") %> prohibited this show_class from being saved:</h2>

      <ul>
        <% show_class.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
